body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    
}
.attribute{
    display: flex;
    justify-content: space-around;
}
.attribute > * {
    font-weight: bold;
}
.container {
    max-width: 100%;
    margin-bottom: 20px ;
    padding: 3%;
    padding-top: 0;
    height: 90vh;
    background-color: #fff;
    border-radius: 5px;
    
    /* background-image: url(../../assets/todo\ \(1\).jpg); */

    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeshow{
    color: black;
}
h1 {
    text-align: start;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 30px;
    font-size: 45px;
    color: #0078d4;
}

.task-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.764);
    border: 1px solid black;
    border-radius: 3px;
    color: white;
}
input[type="date"]{
    width: 80%;
}
.top{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 70%;
}
.top1,.top2{
    display: flex;
    flex-direction: column;
    row-gap: 1.4%;
    align-items: center;
    width: 40%;
    height: 10%;
}
#dueDate{
    margin-left: 1.3%;
    
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #0078d4;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}
.taskDiv{
    width: 65%;
   display: flex;

}
.taskDiv2{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
span{
    width: auto;
}
li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.488);
    color: black;
    border-radius: 3px;
    width: 100%;
    font-weight: bolder;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first{
    display: flex;
    flex-direction: column;
}
#inner{
    display: flex;
    flex-direction: column;
    max-width: 50px;
}

li button {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    /* margin-left: 80%; */
    font-weight: bold;
}

.icon-black {
    color: yellow;
  }
.secondary{
    display: flex;
    flex-direction: column;
}
input[type="checkbox"]{ 
   margin-right: 2%;
   
}


.comp{
    display: flex;
    flex-direction: column;
}
.done{
    text-decoration: line-through;
    
}
li button:hover {
    color: #333;
}
#taskInput{
    position: fixed;
    bottom: 40px;
    left: 70px;
    width: 93%;
    color: white;
    background-color: rgba(0, 0, 0, 0.79);
    /* margin-left:3% ; */
    margin-right:3% ;
}
input[type="text"]::placeholder {
    color: white; /* Placeholder text color */
    height: 70px;
    
}
.deleteBtn{
    color: red;
}
.deleteBtn:hover{
    color: red;
}
